.form
{
	background: #FAFFE7 none repeat scroll 0% 0%;
	border: 1px solid #CFE5A4;
	margin-bottom: 8px;
	padding: 10px;
	vertical-align: middle;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}
