<?xml version="1.0" encoding="utf-8"?>
<membership defaultProvider="VDMSMembershipProvider">
  <providers>
    <remove name="AspNetOracleMembershipProvider" />
    <add name="VDMSMembershipProvider" description="Wraper provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="VDMS.Provider.VDMSMembershipProvider" />
    <add name="AspNetOracleMembershipProvider" applicationName="/" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.PL001A" applicationName="PL001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.KH001A" applicationName="KH001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.NGM001A" applicationName="NGM001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.AB001A" applicationName="AB001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.CT001B" applicationName="CT001B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.DN001A" applicationName="DN001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.TP004A" applicationName="TP004A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.SA001B" applicationName="SA001B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.TK001B" applicationName="TK001B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.TD002B" applicationName="TD002B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.PM001A" applicationName="PM001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.GV001A" applicationName="GV001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.CL001A" applicationName="CL001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.CL001B" applicationName="CL001B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.NT002A" applicationName="NT002A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.TK001A" applicationName="TK001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.KL001A" applicationName="KL001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.NT001A" applicationName="NT001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.LK001A" applicationName="LK001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.VH005A" applicationName="VH005A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.TN003A" applicationName="TN003A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.TB001A" applicationName="TB001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.TH002A" applicationName="TH002A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.LT001A" applicationName="LT001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.BT001A" applicationName="BT001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.CO001A" applicationName="CO001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.HH001A" applicationName="HH001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.TT001A" applicationName="TT001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.CM001A" applicationName="CM001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.NC001A" applicationName="NC001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.NC003A" applicationName="NC003A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.NKN001A" applicationName="NKN001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.NQA001A" applicationName="NQA001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.KP002A" applicationName="KP002A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
    <add name="AspNetOracleMembershipProvider.NTN010A" applicationName="NTN010A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" type="Devart.Data.Oracle.Web.Providers.OracleMembershipProvider" />
  </providers>
</membership>