<?xml version="1.0" encoding="utf-8"?>
<roleManager enabled="true" defaultProvider="VDMSRoleProvider">
  <providers>
    <remove name="AspNetOracleRoleProvider" />
    <add description="Wraper provider" name="VDMSRoleProvider" type="VDMS.Provider.VDMSRoleProvider" />
    <add name="AspNetOracleRoleProvider" applicationName="/" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" connectionStringName="ConnectionString" description="dotConnect for Oracle role provider" />
    <add name="AspNetOracleRoleProvider.PL001A" applicationName="PL001A" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" connectionStringName="ConnectionString" description="dotConnect for Oracle role provider" />
    <add name="AspNetOracleRoleProvider.KH001A" applicationName="KH001A" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" connectionStringName="ConnectionString" description="dotConnect for Oracle role provider" />
    <add name="AspNetOracleRoleProvider.NGM001A" applicationName="NGM001A" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" connectionStringName="ConnectionString" description="dotConnect for Oracle role provider" />
    <add name="AspNetOracleRoleProvider.AB001A" applicationName="AB001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.CT001B" applicationName="CT001B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.DN001A" applicationName="DN001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.TP004A" applicationName="TP004A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.SA001B" applicationName="SA001B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.TK001B" applicationName="TK001B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.TD002B" applicationName="TD002B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.PM001A" applicationName="PM001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.GV001A" applicationName="GV001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.CL001A" applicationName="CL001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.CL001B" applicationName="CL001B" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.NT002A" applicationName="NT002A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.TK001A" applicationName="TK001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.KL001A" applicationName="KL001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.NT001A" applicationName="NT001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.LK001A" applicationName="LK001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.VH005A" applicationName="VH005A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.TN003A" applicationName="TN003A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.TB001A" applicationName="TB001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.TH002A" applicationName="TH002A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.LT001A" applicationName="LT001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.BT001A" applicationName="BT001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.CO001A" applicationName="CO001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.HH001A" applicationName="HH001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.TT001A" applicationName="TT001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.CM001A" applicationName="CM001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.NC001A" applicationName="NC001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.NC003A" applicationName="NC003A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.NKN001A" applicationName="NKN001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.NQA001A" applicationName="NQA001A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.KP002A" applicationName="KP002A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
    <add name="AspNetOracleRoleProvider.NTN010A" applicationName="NTN010A" description="dotConnect for Oracle membership provider" connectionStringName="ConnectionString" type="Devart.Data.Oracle.Web.Providers.OracleRoleProvider" />
  </providers>
</roleManager>